[Unit]
Description = 6tunnel-Helper

[Service]
Type=simple
Restart=always
RemainAfterExit=yes
User=root
ExecStart=/etc/6tunnel-helper/service/6tunnel-helper-start.sh
ExecStop=/etc/6tunnel-helper/service/6tunnel-helper-stop.sh

[Install]
WantedBy=multi-user.target
